<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <div>
      <p>Greenhouse Suply Store</p>
      <p>Greenhouseuplytore@qwert.com</p>
      <p>+1 490 359 4279</p>
  </div>
  <div class="social">
      <a href="https://github.com/izelomabarak" target="https://github.com/izelomabarak"><img src="/images/display/github.svg" alt="Github" width="16" height="16"></a>
      <a href="https://www.linkedin.com/in/jose-luis-izelo-mabarak-07b009317/" target="https://www.linkedin.com/in/jose-luis-izelo-mabarak-07b009317/"><img src="/images/display/linkedin.svg" alt="Linkedin" width="16" height="16"></a>
      <a href="#"><img src="/images/display/facebook.svg" alt="Facebook" width="16" height="16"></a>
      <a href="#"><img src="/images/display/whatsapp.svg" alt="Whatsapp" width="16" height="16"></a>
  </div>
  <div>
    <p>Contact</p>
    <p class="copyright">&copy; <%= year %>, WDD 330 Proyect</p>
  </div>
</footer>