<h1>Welcome to Greenhouse Suply Store</h1>
<div class="hero">
    <img src="/images/display/hero.jpg" alt="Enterprice Hero">
    <article class="introduction">
        <%- messages() %>
        <p>Hero you can find every type of suply to your greenhouse, you can find everyting agrochemical that you net and you can get them to your hose, your greenhouse or warever that you neet them.</p>
    </article>
</div>
<div class="information">
    <article class="vission">
        <h3>Our Vission</h3>
        <img src="/images/display/vission.jpg" alt="Enterprice Hero">
        <p>Our Vission is guive a exelent service in our state, guiving a tool to the workers of this state, guive a new and unique obtion to gue the realy nethed agrochemicals and a accesicable price and guiving a solution to the deliveries isue.</p>
    </article>
    <article class="mission">
        <h3>Our Mission</h3>
        <img src="/images/display/mission.jpg" alt="Enterprice Hero">
        <p>Our Mission is helping the primary productors of this state to guet of a simple and advancet way the agroquimical that so much needs to guive food and anoters primal resources to the nation, helping then in the situations were they need resurces for his greenhouse in a sort time and helping them whit the deliveries isues.</p>
    </article>
</div>