*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --styling-font-title: Tektur, Georgia, serif;
    --styling-font-text: Raleway, Georgia, sans-serif;
    --Accent1-Color: #eae6e6;
    --Accent2-color: #060a42;
    --Title-color: #02085a;
    --Text-color: #50f252;
    text-decoration: none;
}

h1, h2 {
    font-family: var(--styling-font-title);
}

h1 {
    color: var(--Title-color);
}
 
p {
    font-family: var(--styling-font-text);
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 2rem;
    background-color: var(--Accent1-Color);
}

.siteName a {
    color: var(--Text-color);
    text-decoration: none;
    font-family: var(--styling-font-title);
}

#tools {
    justify-self: end;

    & a {
        color: var(--Text-color);
        text-decoration: none;
        font-family: var(--styling-font-title);
    }
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--Accent1-Color);
    list-style-type: none;
    margin: 0;
    padding: 10px;
    justify-items: center;

    & li a {
        font-family: var(--styling-font-title);
        text-decoration: none;
        color: var(--Title-color);
        padding: 10px;
    }

    & li a:hover {
        background-color: #2567ca;
    }
}

/* Home */

.hero img {
    width: 100%;
}

article {
    padding: 10px;
}

.introduction {
    background-color: var(--Accent1-Color);  
    color: var(--Title-color);  
}

.vission {
    color: var(--Text-color);
    background-color: var(--Accent2-color);
    text-align: center;
    margin: 10px 0px;
}

.mission {
    color: var(--Title-color);
    background: var(--Accent1-Color);
    text-align: center;
}

/* Inventory */
#inv-display {
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;

    & li {
        background-color: var(--Accent2-color);
        color: var(--Text-color);
        font-family: var(--styling-font-title);
        margin: 20px ;
        width: 60%;
        padding: 20px;
        max-width: 80%;
        display: grid;
        grid-template-columns: 100%;
        place-items: center;

        & a {
            text-decoration: none;
            color: var(--Text-color);
        }

        & span {
            font-size: 2rem;
        }
    }
}

/* Element Data */
.divRows {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#agrochemicals-details {
    grid-column: 2/3;
    display: grid;
    place-items: center;
    color: var(--Title-color);
    background-color: var(--Accent1-Color);
    padding: 30px;
}

/* Login */

.formLogin {
    background-color: var(--Accent2-color);
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 10px var(--Accent1-Color);

    & label, p {
        color: var(--Accent1-Color);
    }

    & button {
        padding: 10px;
        color: #010a18;
        background-color: #fffb00;
        border: solid 2px #ffffff;
    }
}

.formGroup {
    margin-bottom: 15px;

    & label {
        display: block;
        margin-bottom: 5px; 
        font-weight: bold;
    }

    & input {
        display: block;
        width: 120%;
        box-sizing: border-box; 
        padding: 8px;
    }

    & span {
        display: inline-block; 
        max-width: 200px;
        color: var(--Accent1-Color);
    }
}

.SingUp {
    display: flex;
    gap: 5px;
    align-items: center;

    & a {
        color: var(--Accent1-Color);
    }
}

input:required:invalid, input:focus:invalid {
 background-color: #ff00004b;
}
 input:required:valid {
 background-color: #00ff224b;
}

/* footer */

footer {
    display: grid;
    align-items: center;
    background-color: var(--Accent2-color);
    
    & div {
        color: var(--Text-color);
        text-align: center;
    }
}