:root {
    --styling-font-title: Tektur, Georgia, serif;
    --styling-font-text: Raleway, Georgia, sans-serif;
    --Accent1-Color: #fffb00;
    --Accent2-color: #060033;
    --Title-color: #010a18;
    --Text-color: #fcff47;
    text-decoration: none;
}

@media only screen and (min-width: 651px) {
    nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    /* home */
    body {
        background-image: url('/images/site/small_check.jpg');
    }
    div.box {
        margin-left: 10%;
        width: 80%;
        background-color: aliceblue;
    }
    .extras {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .upgrades {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .reviews {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    /* Inv */
    #inv-display{
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1050px) {
    /* nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    } */
    /* Inv */
    #inv-display{
    grid-template-columns: 1fr 1fr 1fr;
    }
    /* Car */
    #car-display-details{
    grid-template-columns: 1fr 1fr;
    }
}