:root {
    --styling-font-title: Tektur, Georgia, serif;
    --styling-font-text: Raleway, Georgia, sans-serif;
    --Accent1-Color: #eae6e6;
    --Accent2-color: #060a42;
    --Title-color: #02085a;
    --Text-color: #50f252;
    text-decoration: none;
}

@media only screen and (min-width: 651px) {
    nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    /* home */
    .hero {
        position: relative;

        & .introduction {
            position: absolute;
            top: -5%;
            width: 90%;
            margin: 20px;
            padding: .5rem;
            background-color: #02085a91;  
            color: var(--Text-color);  
        }
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .vission, .mission{
        color: var(--Text-color);
        background: var(--Accent2-color);
        margin: 10px;
    }

    /* footer */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1050px) {
    /* nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    } */
    /* Inv */
    #inv-display{
    grid-template-columns: 1fr 1fr 1fr;
    }
    /* Car */
    #car-display-details{
    grid-template-columns: 1fr 1fr;
    }
}