<!--Heading-->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<div id="forecast"></div>
<div class="cart">
    <%- elements %>
</div>
<div class="total">
    <%- total %>
</div>

<a class="buyCart" href="buy">Buy Your Cart</a>

<script src="../../js/wheater.js"></script>